<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1563381013529-1c922c80ac8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1113&q=80);">
 <h1>Et voici les films de la liste: "<%= @list.name %>"</h1>
</div>
<br><br>
  <div class="movie-container">
    <% @movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="movie-card">
          <%= image_tag movie.poster_url, alt: movie.title, class: 'movie-img rounded-top'%>
          <div class="movie-card-info">
            <h2>
              <%= movie.title %>
            </h2>
            <p>
              <%= bookmark.comment%>
            </p>
          </div>
      </div>
    <% end %>
  </div>
<br>
<div class="movie-btn">
  <%= link_to "Add a movie to this list",  new_list_bookmark_path(@list), class: 'btn btn-primary'  %>
  <%= link_to "Return to full lists",  lists_path , class: 'btn btn-primary' %>
</div>
